---
import Card from "./index.astro";
---

<Card
  colSpan="lg:col-span-1 col-span-1 md:col-span-2"
  rowSpan="sm:row-span-3 md:row-span-3 lg:row-span-6"
  title="About me"
>
  <div class="mt-2 flex flex-col gap-2">
    <div class="text-md font-light">
      <p>Hi, I'm Max, a frontend software engineer.</p><p>
        My current stack includes:
      </p>
      <ul class="list-inside list-disc">
        <li>JavaScript, TypeScript</li>
        <li>React, Next.js</li>
        <li>Redux, RTK, RTKQ</li>
        <li>Material UI, Tailwind</li>
        <li>Nodejs, Express</li>
        <li>Git, Storybook</li>
        <li>Astro, Vite</li>
        <li>Docker, Nginx</li>
      </ul>
    </div>
    <p class="text-md font-light">
      Beyond coding, I'm passionate about photography, music and cycling.
    </p>
    <p class="text-md font-light">
      I enjoy tackling new challenges and continuously improving my skills to
      stay at the forefront of technology.
    </p>
  </div></Card
>
