---
import { Icon } from "astro-icon/components";
import Card from "./index.astro";
---

<Card colSpan="md:col-span-1" rowSpan="md:row-span-1">
  <div class="flex flex-col justify-between">
    <p
      class="md:text-md font-medium tracking-tight text-primary dark:text-white"
    >
      &copy; {new Date().getFullYear()} • <a
        class="font-light text-red-500 hover:text-red-600"
        href={`https://github.com/tropnikov/tropnikov.dev/commit/${__COMMIT_HASH__}`}
        target="_blank">#{__COMMIT_HASH__}</a
      >
    </p>
    <p
      class="md:text-md font-medium tracking-tight text-primary dark:text-white"
    >
      Made by <a
        href="#"
        target="_blank"
        class="text-red-500 hover:text-red-600"
      >
        Max Tropnikov</a
      >
    </p>
    <label
      class="group-hover tada relative flex w-full cursor-pointer items-center justify-between pt-2 text-primary hover:text-primary/70 dark:text-white dark:hover:text-white/70"
      for="dark-mode-toggle"
    >
      <span class="group-hover font-medium tracking-tight md:text-sm"
        >Change theme →</span
      >
      <Icon
        name="tabler:sun-filled"
        size={16}
        class="group-hover dark:hidden"
      />
      <Icon name="tabler:moon-filled" size={16} class="hidden dark:block" />
    </label>
    <input
      type="checkbox"
      id="dark-mode-toggle"
      class="light-switch group sr-only"
    />
  </div>
</Card>
