---
import AboutMe from "../Cards/AboutMe.astro";
import Card from "../Cards/index.astro";
import IntroCard from "../Cards/Intro.astro";
import ContactsCard from "../Cards/Contacts.astro";
import TimeZone from "../Cards/TimeZone.astro";
import Now from "../UI/Now.astro";
import CopyCard from "../Cards/Copy.astro";
import BlogCard from "../Cards/Blog.astro";
import LinkCard from "../Cards/Link.astro";
import ResumeCard from "../Cards/Resume.astro";
---

<script>
  import { spring, stagger, timeline, type TimelineDefinition } from "motion";
  import { loaderAnimation } from "@utils/constants";
  const cards = document.querySelectorAll(".card");

  const sequence = [
    loaderAnimation,
    [
      cards,
      { y: ["20%", "0%"], opacity: [0, 1] },
      {
        at: "-0.1",
        duration: 0.1,
        delay: stagger(0.05),
        easing: spring({ velocity: 200, stiffness: 50, damping: 10 }),
      },
    ],
  ];

  timeline(sequence as TimelineDefinition);
</script>

<main
  class="lg:grid-rows-8 relative m-auto grid w-full max-w-6xl gap-2 overflow-hidden p-2 text-primary dark:text-white sm:grid-cols-2 sm:gap-2 sm:p-4 md:gap-3 md:p-6 lg:grid-cols-4 lg:gap-4"
>
  <IntroCard />
  <AboutMe />
  <ResumeCard />
  <TimeZone />
  <ContactsCard />
  <Now />
  <BlogCard />
  <CopyCard />
</main>
