---
import Header from "@components/Structure/Header.astro";
---

<!doctype html>
<html lang="en">
  <head>
    <Header />
  </head>
  <body
    class="flex min-h-dvh flex-col items-center justify-center bg-zinc-200 dark:bg-primary"
  >
    <slot />
    <script is:inline async defer src="https://scripts.withcabin.com/hello.js"
    ></script>

    <script is:inline>
      if (
        localStorage.theme === "dark" ||
        (!("theme" in localStorage) &&
          window.matchMedia("(prefers-color-scheme: dark)").matches)
      ) {
        document.documentElement.classList.add("dark");
      } else {
        document.documentElement.classList.remove("dark");
      }

      window.onload = function () {
        const element = document.getElementById("dark-mode-toggle");

        if (element) {
          if (
            localStorage.theme === "dark" ||
            (!("theme" in localStorage) &&
              window.matchMedia("(prefers-color-scheme: dark)").matches)
          ) {
            element.checked = true;
          }

          element.addEventListener("click", () => {
            document.documentElement.classList.toggle("dark");
            element.checked = !element.checked;
            localStorage.theme = document.documentElement.classList.contains(
              "dark",
            )
              ? "dark"
              : "light";
          });
        }
      };
    </script>
  </body>
</html>
