---
import { LINKS } from "../../utils/constants";
import SocialIcon from "./SocialIcon.astro";

interface Props {
  title: string;
  link: string;
  icon?: string;
}

const { link, title, icon } = Astro.props;
---

<a
  href={LINKS[link as keyof typeof LINKS]}
  aria-label={link}
  target="_blank"
  title={title}
  class="group-hover text-primary:dark:text-white/50 shadow-custom shadow-primary-500 dark:shadow-thick group flex max-h-[50px] cursor-pointer items-center justify-center rounded-lg bg-zinc-100 px-4 py-2 text-xl text-primary shadow-xl ring-1 ring-primary/5 transition-all duration-300 hover:scale-125 hover:border-primary/50 hover:ring-primary/5 active:translate-x-[3px] active:translate-y-[3px] active:shadow-none dark:bg-tertiary dark:text-white dark:ring-white/10 dark:hover:ring-white/20 sm:px-5"
>
  <SocialIcon icon={`tabler:${icon ?? link}`} />
  <span class="sr-only">{title}</span>
</a>
